header{
    font-size: 50px;
    color: darkblue;
}

img {
    width: 900px;
    height: 300px;
    object-fit: cover;
}

p{
    font-size: 20px;
    border: 1px solid blue;
    padding: 24px;
    margin: 10px;
    background-color:cornflowerblue;
}
span{
    font-style: italic;
    font-size: 15px;
    padding: 10px;
    margin: 1px;
}
