header{
    font-size: 50px;
    color: darkblue;
}

img {
    width: 700px;
    height: 300px;
    object-fit: cover;
}
div{
    font-size: 20px;
    border: 1px solid blue;
    padding: 24px;
    margin: 10px;
    background-color:azure;
}
p{
    font-size: 20px;
    line-height: 28px;

}