.header{
    background-color:#1ABC9C;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.header-logo{
    width: 101px;
    height: 29px;
    object-fit: contain;
}
.header-nav{
    font-size: 25px;
    color: #000;
    line-height: 30px;
    display: flex;
    gap: 20px;

}
.flex-gap-20{
    display: flex;
    gap: 20px;
}

.header-nav > a {
    color: inherit;
}
.header-socials > a {
   display: inline-block;
   width: 40px;
   height: 40px;

}
.header-socials > a  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.selection-office {
    width: 459px;
    height: 409px;
    top: auto;
    display: flex;
}
.about-us > h1 {
    color: #000;
    display: flex;
    justify-content: center;

}
.about-us > p{
   
font-size: 15px;
font-weight: 200;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
right: 700px; 
left: 100 vw;
}

.size-based-on-viewport{  
    background-color: #DCFFEB;
    width: 100%;
    display: flex;
    justify-content: space-between;
   

}
